.aboutCon {
    height: 200px;
    width: 100%;
    background-color: rgb(251, 209, 94);
    color: rgb(254, 244, 244);
    border: 2px solid rgb(231, 204, 3);
    display: flex;
}

.aboutCon h1 {
    font-size: 2rem;
    margin: auto;
}

.sec-about {
    height: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 200px;
    padding-top: 100px;

}

.sec-about h2 {
    padding: 20px;
    font-weight: 500;
}

.sec-about p {
    font-size: 18px;
    font-weight: 500;
    align-items: center;
    padding: 20px;
}

.boxabout {
    background-color: rgba(228, 228, 228, 0.465);
    padding: 20px;
    margin-top: 5rem;

}

.abt-head {
    margin: 40px 0;
    padding: 10px;
}

.abt-head h1 {
    color: rgb(33, 30, 30);
    padding: 12px;
    font-weight: 430;
    display: flex;
    justify-content: center;
}


.sym-about {
    background-image: url(images/project-management.png);
    background-size: contain;
    height: 30px;
    width: 30px;
    margin: auto;
}


.icon-wrap {
    display: flex;
    gap: 25px;
    text-align: center;
    justify-content: center;
    margin: auto;
    width: 70vw;
    height: 60vh;
    align-items: start;
}

.para-wrap {
    width: 350px;
    font-size: 0.79rem;
    padding: 10px;
}


.quality {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    flex-wrap: nowrap;


}


.quality .img1 {
    background-image: url(images/guarantee.png);
    background-size: cover;
    height: 50px;
    width: 50px;
    justify-content: center;
    margin-bottom: 10px;

}


.Experience .img2 {
    background-image: url(images/engineer.png);
    background-size: cover;
    height: 50px;
    width: 50px;
    margin-bottom: 10px;

}

.Experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 25px;
}

.Completion .img3 {
    background-image: url(images/schedule.png);
    background-size: cover;
    height: 50px;
    width: 50px;
    margin-bottom: 10px;

}

.Completion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}


.anchor-wrap a {
    text-decoration: none;
    margin: 20px;
    color: rgb(90, 90, 90);
    font-weight: 500;
}

.anchor-wrap a:hover {
    color: chocolate;
}




.parallex {
    background-image: url("images/tokyo-japan-cityscape-filtered-image-processed-vintage-effect.jpg");


    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.count-wrap {
    background-color: rgba(0, 0, 0, 0.375);
    position: absolute;
    min-height: 200px;
    width: 80%;

}

.faq {
    width: 80%;
    background-color: rgb(254, 253, 253);
    min-height: 80vh;
    margin: auto;
    padding: 20px;
}

.faq>h2 {
    padding-left: 20px;
    font-weight: 500;
    font-size: 2rem;
}

/* Styles for screens up to 900px */
@media only screen and (max-width: 1200px) {
    .aboutCon {
        height: 110px;
    }

    .sec-about {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .sec-about p {
        font-size: 12px;
    }

    .boxabout p {
        font-size: 12px;
    }

    .icon-wrap {
        width: 100%;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
    }

    .para-wrap {
        width: 300px;
    }

    .faq {
        font-size: 12px;
        width: 100%;
    }

}

/* Additional styles for screens smaller than 600px */
@media only screen and (max-width: 600px) {
    .sec-about {
        padding-top: 50px;
    }

    .icon-wrap {
        flex-direction: column;
        height: auto;
    }
}