.payment-schedule {
    background-color: #f9f9f9;
    height: 100%;
    width: 100%;
}

.paym-heading {
    background-color: #ffd662;
    border-radius: 15px;
    width: 400px;
    height: 69px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: auto;
}

.box-wrap {
    width: 85%;
    margin: 20px auto;
    background-color: white;
}

.container-grid {
    display: grid;
    grid-template-columns: 180px 1fr;
    column-gap: 40px;
    height: auto;
    margin: 40px 0;
    justify-content: center;
    align-items: center;
}

.left-col {
    height: auto;

    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px 11px;
    padding: 10px 15px;
    background-color: #003f8d;
    color: white;
    border-radius: 10px;
}

.left-col h6 {
    font-size: 14px;
    font-weight: 500;
}

.right-col {
    margin: 20px 5%;
    border-bottom: 1px solid black;
}

.right-col h4 {
    color: #ffd662;
    font-weight: 400;
}

.right-col p {
    font-size: 14px;
    margin: 20px 0;
}

/* Media Queries for responsiveness */
@media only screen and (max-width: 768px) {
    .container-grid {
        grid-template-columns: 1fr;

    }
}