.Container-footer {
    background-color: rgb(1, 1, 134);
    width: 100%;
    color: white;
    padding: 40px 30px;
    position: relative;
}

.row-footer {
    display: flex;
    justify-content: start;
    padding: 40px 30px;
}

.row-footer a {
    color: white;
    text-decoration: none;
    padding: 8px;
    font-size: 14px;
}


.row-footer h4 {
    color: cadetblue;
}

.row-footer a:hover {
    background-color: cadetblue;

}

.Address,
.Sitemap,
.Others,
.Information {
    width: 20rem;

}


@media (max-width: 768px) {
    .row-footer {
        flex-wrap: wrap;
        justify-content: center;
    }

    .row-footer h4 {
        margin-top: 20px;
        color: yellowgreen;
        text-align: center;
    }

    .Address,
    .Sitemap,
    .Others,
    .Information {
        width: 100%;
    }
}