.form-wrap {
    width: 390px;
    height: 420px;
    background-color: rgba(255, 209, 57, 0.87);
    padding: 20px;
    margin: 12px auto;
    border-radius: 12px;
}

.calculator {
    background-image: url(images/calculator.png);
    background-size: cover;
    margin: 0 10px;
    height: 30px;
    width: 30px;
}

.cal-heading {
    display: flex;
    justify-content: center;
    text-align: center;
}

.cal-heading h3 {
    font-weight: 500;
    font-size: 18px;
}

.form-group {
    padding: 20px 0;
    margin: 10px 0;

}

label {
    display: block;
    margin-bottom: 5px;
}

#float-input {
    width: 100%;
    padding: 16px 8px;
    border: 1px solid #0d5dfd;
    border-radius: 7px;
    box-sizing: border-box;
    background-color: transparent;
}

.select-wrapper {
    position: relative;
    width: 100%;
    display: inline;

}

#option-select {
    width: calc(100% - 30px);
    padding: 16px 8px;
    border: 1px solid #0d5dfd;
    border-radius: 7px;

    background-color: transparent;
}

.select-wrapper::after {

    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.btn {
    background-color: royalblue;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 70px;
}

@media screen and (max-width: 1200px) {
    .form-wrap {
        width: 100%;
        margin: 12px auto;
    }

    .cal-heading h3 {
        font-size: 14px;
    }


    .btn {
        margin-left: 0;
    }
}