.Painting-banner {
    background-image: url(images/painting-banner.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 110vh;
    width: 100%;
    gap: 20px;
}

.Painting-quote h1 {
    font-size: 40px;
    font-weight: 500;
}

.Painting-quote {
    width: 400px;
    margin-left: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.why {
    background-color: rgb(34, 34, 145);
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
    width: 400px;
    margin: auto;
    border: 2px solid springgreen;
    margin: 20px auto;
}

.badge-container {
    display: flex;
    justify-content: center;
    width: 800px;

    margin: auto;
}

.badge {
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
    font-size: 14px;
    padding: 10px;
    width: 200px;
    gap: 10px;
}

.badge1 {
    background-image: url(images/quality.png);
    background-size: cover;
    height: 120px;
    width: 80px;
}

.badge2 {
    background-image: url(images/budget.png);
    background-size: cover;
    height: 120px;
    width: 90px;
}

.badge3 {
    background-image: url(images/grnty.png);
    background-size: cover;
    height: 120px;
    width: 80px;
}

.badge4 {
    background-image: url(images/inspection.png);
    background-size: cover;
    height: 120px;
    width: 90px;
}

.pic10 {
    background-image: url(images/pic10.jpg);
}

.pic11 {
    background-image: url(images/pic11.jpg);
}

.pic12 {
    background-image: url(images/pic12.jpg);
}

.painting-bottom {
    background-image: url(https://www.easihome.in/assets/img/painting/painiting-banner-b.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
}


.lg-buttons {
    display: flex;
    justify-content: center;

}

.lg-buttons button {
    margin: 40px;
    font-size: 24px;
    padding: 10px;
    width: 150px;
    background-color: #2f74b1;
    border: #183752;
    color: white;
    border-radius: 7px;
}

.card-pro {
    border: 0.50px solid rgb(199, 199, 199);
    height: 330px;
    width: 1200px;
    margin: auto;
}

.process-container {

    display: flex;
    justify-content: space-evenly;
}

.process-heading {
    width: 100%;
    display: flex;
    justify-content: center;



}

.process-heading h2 {
    font-weight: 500;
    font-size: 28px;
}

.pro {
    width: 280px;

    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.pro1 {
    background-image: url(images/pro1.png);
    background-size: cover;
    width: 80px;
    height: 80px;
    margin: 20px;
}

.border {
    background-color: blue;
    height: 10px;
    width: 150px;
}

.pro p {
    text-align: center;
    font-size: 0.85rem;
}

.pro2 {
    background-image: url(images/pro2.png);
    background-size: cover;
    width: 80px;
    height: 80px;
    margin: 20px;
}

.pro3 {
    background-image: url(images/pro3.png);
    background-size: cover;
    width: 80px;
    height: 80px;
    margin: 20px;
}

.pro4 {
    background-image: url(images/pro4.png);
    background-size: cover;
    width: 80px;
    height: 80px;
    margin: 20px;
}


@media screen and (max-width: 1200px) {
    .Painting-banner {
        height: 300px;
        justify-content: space-between;
        width: 100%;
    }

    .Painting-quote>h1 {
        font-size: 14px;

    }

    .badge-container {
        flex-direction: column;
        width: 200px;
    }

    .painting-bottom {
        height: 600px;
        flex-wrap: wrap;

    }


    .lg-buttons {
        flex-direction: column;

    }

    .card-pro {
        height: auto;
        width: 350px;

    }

    .process-container {
        flex-direction: column;
        width: 100%;

    }
}