.terms-page {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    gap: 30px;
}

.term-all>h4 {
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
}

.terms-page>h1 {
    font-weight: 500;
}

.terms-page>h5 {
    font-weight: 500;

}

.term-list>li {
    font-size: 13px;
    padding: 2px 0;
}

.term-all>p {
    font-size: 13px;
    margin: 10px 0;
}