* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  font-weight: 400;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  color: #545454;

  h1,
  h2,
  h3 h4,
  h5 {
    font-family: "Roboto", sans-serif;

  }

  p {
    font-size: 14px;
    padding: 0.85rem 0;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 33px;
  }

  h4 {
    font-size: 30px;
  }

  a {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border-radius: 8px;
  }

  a:hover {
    background: #FFD814;
  }

  .btn {
    cursor: pointer;
    background-position: right -170px;
    display: block;
    height: 38px;
    position: relative;
    color: #fdf443;
    font-size: 14px;
    line-height: 4px;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    background-color: cadetblue;
    box-shadow: 2px 3px 3px cadetblue;
    border-radius: 8px;
    margin: 20px auto;
  }

  .btn:hover {
    background-color: #f6e419;
    color: cadetblue;
  }

  .icon-size {
    background-size: contain;
    height: 40px;
    width: 50px;
    margin: auto;
    background-repeat: no-repeat;
  }

  .text-red-500 {
    color: red;
  }
}